@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628589291126') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e706";
}

.icon-shouye:before {
  content: "\e707";
}

.icon-sousuo:before {
  content: "\e708";
}

.icon-xiazai:before {
  content: "\e709";
}

