body{
    margin: 0;
    padding: 0;
    min-width: 1210px;
    background: linear-gradient(to bottom, #0b0a27, #31304c 50%);
}

.az{
    position: relative;
    text-align: center;
    left: 10%;
    width: 80%;
    height: 1024px;
    z-index: -10;
    background-image: url(../img/az.png);
    zoom: 1;
    background-color: #ffff;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    opacity: 0.8;
}
.az p{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 220px;
    height: 64.8px;
    margin: 0 20px;
    top: 50%;
    background-color: rgb(240, 234, 234);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8.18% 100%, 0% 71.875%);
    transition: all 0.28s linear;
    cursor: pointer;
}

.box {
    width: 440px;
    height: 128px;
    margin: 0 20px;
    position: relative;
    background-color: #ff79b7;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8.18% 100%, 0% 71.875%);
    transition: all 0.28s linear;
    cursor: pointer;
}

.box::after {
    content: "阿巴阿巴";
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    background-color: #fff;
    transition: all 0.28s linear;
}

.box::after {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 6.862% 100%, 0% 70.8333%);
}

.box:hover {
    background-color: #71c2df;
    clip-path: polygon(0% 0%, 100% 0%, 100% 71.875%, 91.818% 100%, 0% 100%);
}

.box:hover::after {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70.8333%, 93.137% 100%, 0% 100%);
}
