@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* 套用Google Web Font 的Quicksand 字体 */

:root {
    /* 设置基础文字大小 */
    font-size: 15px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    min-height: 100vh;
    /* 加入能够融合的背景颜色 */
    background-color: #f7b7f7;
    background-image: 
        radial-gradient(
            /* 绘画出圆形的渐层颜色 */
            closest-side,
            /* closest-side使透明色完全在范围内 */
            rgba(235, 105, 78, 1),
            rgba(235, 105, 78, 0)
            /* 由一种颜色渐变到全透明 
             * transparent在Safari浏览器上会有问题
             * 所以就通过rgba()将透明度设定为0
             */
        ),
        radial-gradient(
            closest-side,
            rgb(235, 216, 108, 1),
            rgba(235, 216, 108, 0)
        ),
        radial-gradient(
            closest-side,
            rgb(207, 55, 212, 1),
            rgba(207, 55, 212, 0)
        ),
        radial-gradient(
            closest-side,
            rgb(78, 235, 183, 1),
            rgba(78, 235, 183, 0)
        ),
        radial-gradient(
            closest-side,
            rgb(230, 55, 69, 1),
            rgba(230, 55, 69, 0)
        )
    ;
    /*
        调整它们的 大小 与 位置
        vmax是以屏幕长的一边去计算
        确保背景图片在手机上或者平板上旋转后都可以保持在合适的位置上
    */
    background-size: 
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax
    ;
    /* 
        设置位置
    */
    background-position: 
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax
    ;
    /* 背景图片不重复 */
    background-repeat: no-repeat;
    /* 
        套用动画设定 
        时长8s
        加速度是线性的，无限重复
    */
    animation: 8s movement linear infinite;
}
/* 使背景模糊化，这样颜色之间看上去更为协调 */
body::after{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* 关键部分 */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@keyframes movement {
    /* 0%, 100%的区块 */
    0%, 100%{
        /* 套用原先的背景大小及位置的设定 */
        background-size: 
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax
        ;
        background-position: 
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax
        ;
    }
    /* 25%的区块 */
    25%{
        /* 
            稍微调整一下大小和位置 
            相距太大就会显得不够平稳    
        */
        background-size: 
        100vmax 100vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        60vmax 60vmax
        ;
        background-position: 
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax
        ;
    }
    50%{
        /* 
            稍微调整一下大小和位置 
            相距太大就会显得不够平稳    
        */
        background-size: 
        80vmax 80vmax,
        110vmax 110vmax,
        80vmax 80vmax,
        60vmax 60vmax,
        80vmax 80vmax
        ;
        background-position: 
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax
        ;
    }
    75%{
        /* 
            稍微调整一下大小和位置 
            相距太大就会显得不够平稳    
        */
        background-size: 
        90vmax 90vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        70vmax 70vmax
        ;
        background-position: 
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax
        ;
    }
}

span {
    position: relative;
    /* 由于body有after伪元素的关系，将z-index调高一点 */
    z-index: 10;
    /* 用flex的方式将内容上下左右居中 */
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    /* 体现模糊感，将其设定为透明 */
    color: transparent;
    text-shadow: 
    /* 将文字设定为1px模糊度的半透明白色 */
        0px 0px 1px rgba(255, 255, 255, .6),
    /* 加入很浅色的阴影 */
        0px 4px 4px rgba(0, 0, 0, .05)
    ;
    /* 加入一点字距 */
    letter-spacing: .2rem;
}